<h2 class="text-center">Редактировать <%= resource_name.to_s.humanize %></h2>

<div class="container">
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <span><%= f.label :email %></span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <br>
      <div class="field">
        <span><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></span><br />
        <%= f.password_field :password, autocomplete: "new-password", :class=>"form-control" %>
        <% if @minimum_password_length %>
          <br />
          <span><em><%= @minimum_password_length %> characters minimum</em></span>
        <% end %>
      </div>

      <div class="field">
        <span><%= f.label :password_confirmation %></span><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=>"form-control" %>
      </div>

      <div class="field">
        <span><%= f.label :current_password %> <i>(нам нужен ваш текущий пароль для подтверждения ваших изменений)</i></span><br />
        <%= f.password_field :current_password, autocomplete: "current-password", :class=>"form-control" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Обновить", :class=>"btn btn-info" %>
      </div>
      <br>
      <h4>Удалить мой аккаунт</h4>

      <p><span>Unhappy? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete %></span></p>
      <br>

      <div class="col-xs-12 col-sm-12 padding" id="btn-master">
        <%= link_to "Назад", :back, :class=>"btn btn-light" %>
      </div>


    <% end %>


  </div>
</div>
