 <div class="fixed-wrap">
  <div id="fixed3"></div>
</div>
<br><br><br>
  <div class="container-fluid">
    <div class="row">
      <div>
        <div>
          <% if News.all.empty? %>
            <p>Пока нет ничего нового</p>
          <% else %>
            <div class="container">
              <div class="row">
                <div class="col-md-3" id="newsIndexImg">
                  <%= image_tag News.last.title_image.url(:menu_img) if News.last.title_image? %>
                </div>
                <div class="col-md-9 text-truncate" id="newsIndex">
                  <h4 class="text-center"><%= link_to News.last.title, news_path(News.last) %></h4>

                  <div class="text-right" id="newsDataTime">
                    <p>Добавлена: <%= News.last.created_at.strftime("%T %D") %></p>
                  </div>
                  <div class="padding" id="btn-master">
                    <%= link_to "Читать далее", news_path(News.last), :class=>"btn btn-light" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="border-bottom-red"></div>
  <br><br><br>
    <div class="container">
      <h2 class="text-center" id="borderBottom">Наша продукция</h2><br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4" id="rootMenu">
          <%= link_to image_tag("img/desert.jpg", :class=>"img-fluid img-thumbnail"), desert_products_path%>
          <div class="carousel-caption-text">
            <h3><%= link_to "Пирожные", desert_products_path %></h3>
          </div>
        </div>
        <div class="col-md-4" id="rootMenu">
          <%= link_to image_tag("img/puff_product.jpg", :class=>"img-fluid img-thumbnail"), puff_product_products_path %>
          <div class="carousel-caption-text">
            <h3><%= link_to "Слоеные изделия", puff_product_products_path %></h3>
          </div>
        </div>
        <div class=col-md-2></div>
        <div class=col-md-2></div>
        <div class="col-md-4" id="rootMenu">
          <%= link_to image_tag("img/tiramisu.jpg", :class=>"img-fluid img-thumbnail"), cake_products_path %>
          <div class="carousel-caption-text">
            <h3><%= link_to "Торты", cake_products_path %></h3>
          </div>
        </div>
        <div class="col-md-4" id="rootMenu">
          <%= link_to image_tag("img/biscuits.jpg", :class=>"img-fluid img-thumbnail"), biscuits_products_path %>
          <div class="carousel-caption-text">
            <h3><%= link_to "Печенье", biscuits_products_path %></h3>
          </div>
        </div>
        <div class=col-md-2></div>
        <div class="col-xs-12 col-sm-12 text-center" id="btn-master">
            <br>
            <%= link_to "Посмотреть весь ассортимент",  products_path, :class=>"btn btn-lg" %>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="fixed-wrap">
      <div id="fixed2">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-center" id="partner">
              <p>Наша компания приглашает к сотрудничеству магазины, кафе, оптовые базы, дистрибьюторы, торговые компании.
              Работаем без выходных. Для каждого клиента персональный подход и условия. Более детальная информация по
              телефону: +380504023130</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <div class="container-fluid padding">
      <div class="row padding">
        <div class="offset-lg-2 col-lg-4">
          <h2>Немного про нас:</h2>
          <p><strong>Мастер</strong>
            – украинская кондитерская компания, которая изготовляет более
            100 видов высококачественных кондитерских изделий. Компания была основана в 2009 году. Основные мощности
            компании Мастер расположены в Харькове.
          </p>
          <p>Компания прикладывает максимум усилий, что бы продукция имела безупречное качество, начиная с отбора
            ингридиентов, профессионального подхода квалифицированных кондитеров - до сохранения и доставки готовых
            кондитерских изделий покупателю.
            </p>
          <div class="col-xs-12 col-sm-12" id="btn-master">
              <%= link_to "Читать далее",  welcome_about_company_path, :class=>"btn btn-light" %><br><br><br>
          </div>
        </div>
        <div class="col-md-5">
          <%= image_tag("img/master_title.jpg", :class=>"about-company-img") %>
        </div>
      </div>
    </div>
      <div class="fixed-wrap">
        <div id="fixed">
        </div>
      </div>
    <br><br><br><br><br>
    <div class="container-fluid padding">
      <div class="row">
        <div class="alert text-center">
          <div class="col-12">
            <h2 id="borderBottom">Преимущества компании</h2>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container padding">
      <div class="row padding">
        <div class="col-md-4" id="cardBox">
          <div class="card">
            <%= image_tag("img/zdanie.jpg", :class=>"card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Собственное помещение</h4>
              <p class="card-text">Одним из достижений компании Мастер стало приобретение
                собственного производственного помещения. Это позволило модернизировать производство и
                значительно увеличить объемы выпускаемой продукции.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4" id="cardBox">
          <div class="card">
            <%= image_tag("img/laboratory.jpg", :class=>"card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Собственная лаборатория</h4>
              <p class="card-text">На предприятии постоянно действует лаборатория по проверке качества
                входящего сырья и соответствия изготовленной продукции стандартам и нормам,
                установленным законодательством.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4" id="cardBox">
          <div class="card">
            <%= image_tag("img/konditer.jpg", :class=>"card-img-top") %>
            <div class="card-body">
              <h4 class="card-title">Высокая квалификаци</h4>
              <p class="card-text">Предприятие заботится о повышении квалификации
                сотрудников:для ведущих специалистов проводятся различные семинары и тренинги,
                направленные на улучшение вкусовых качеств нашей продукции.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
