<div id="header_img">
        <%= image_tag("img/desing2.jpg") %>
</div>
    <div class="welcome" style="margin: -1px; padding: -1px;"></div>

    <div class="welcome" style="margin: -1px; padding: -1px;">
        <%= image_tag("img/welcome/menu.jpg") %>
    </div>
    <div class="welcome" style="margin: -1px; padding: -1px;">
        <%= image_tag("img/welcome/order.jpg") %>
    </div>
    <div class="welcome" style="margin: -1px; padding: -1px;"></div>

    <div class="welcome" style="margin: -1px; padding: -1px;"></div>

    <div class="welcome" style="margin: -1px; padding: -1px;">
        <%= image_tag("img/welcome/master.jpg") %>
    </div>
    <div class="welcome" style="margin: -1px; padding: -1px;">
        <%= image_tag("img/welcome/mk.jpg") %>
    </div>
    <div class="welcome" style="margin: -1px; padding: -1px;"></div>

    <div class="welcome" style="margin: -1px; padding: -1px;">
    </div>
    <div class="welcome" style="margin: -1px; padding: -1px;">
      <%= image_tag("img/welcome/partner.jpg") %>
    </div>
    <div class="welcome" style="margin: -1px; padding: -1px;">
          <%= image_tag("img/welcome/contacts.jpg") %>
    </div>