<div id="header_img">
  <%= image_tag("img/desing2.jpg") %>
</div>

<table class="index">
  <tbody>
    <tr>
      <td>
        <%= link_to image_tag("img/welcome/menu.jpg"), products_path %>
      </td>
      <td>
        <%= link_to image_tag('img/welcome/order.jpg'), products_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag("img/welcome/master.jpg"), welcome_about_company_path %>
      </td>
      <td>
        <%= link_to image_tag("img/welcome/mk.jpg"), welcome_mk_path %>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to image_tag("img/welcome/partner.jpg"), welcome_partners_path %>
      </td>
      <td>
        <%= link_to image_tag("img/welcome/contacts.jpg"), welcome_contacts_path %>
      </td>
    </tr>
  </body>
</table>