<div id="header_img">
<%= image_tag("img/head.jpg") %>
</div>
<div id="text">
  Пекарня-кондитерська «Майстер” запрошує хлопчиків та дівчаток на майстер-класи, по виробленню різноманітних десертів. Кожну суботу
  та неділю о 14:00 годині. Попередній запис обов’язковий!
  Телефон для довідок 099 049 90 00
</div>
<div>
  <ul class="mk">
    <li><%= image_tag("mk/1.jpg") %></li>
    <li><%= image_tag("mk/2.jpg") %></li>
    <li><%= image_tag("mk/3.jpg") %></li>
    <li><%= image_tag("mk/4.jpg") %></li>
    <li><%= image_tag("mk/5.jpg") %></li>
    <li><%= image_tag("mk/6.jpg") %></li>
    <li><%= image_tag("mk/7.jpg") %></li>
    <li><%= image_tag("mk/8.jpg") %></li>
    <li><%= image_tag("mk/9.jpg") %></li>
    <li><%= image_tag("mk/10.jpg") %></li>
    <li><%= image_tag("mk/11.jpg") %></li>
    <li><%= image_tag("mk/12.jpg") %></li>
    <li><%= image_tag("mk/13.jpg") %></li>
    <li><%= image_tag("mk/14.jpg") %></li>
    <li><%= image_tag("mk/15.jpg") %></li>
    <li><%= image_tag("mk/17.jpg") %></li>
    <li><%= image_tag("mk/18.jpg") %></li>
    <li><%= image_tag("mk/19.jpg") %></li>
  </ul>
</div>