<div class="container">
  <div class="row">
    <% if !@products.empty? %>
      <% @products.each do |product|%>
        <div class="col-md-3" id="newsIndexImg">
          <%= image_tag product.image.url(:menu_img) if product.image? %>
        </div>
        <div class="col-md-9" id="newsIndex">
          <h4 class="text-center text-truncate"><%= link_to product.name, product_path(product) %></h4>
          <p class="lead" id="news_index"><%= product.description %></p>
          <div class="col-xs-12 col-sm-12 padding" id="btn-master">
            <% if current_user.present? %>
              <% if current_user.admin? %>
                <%= link_to "Редактировать", edit_admin_product_path(product), :class=>"btn btn-light" %>
              <% end %>
            <% end %>
            <%= link_to "Посмотреть", product_path(product), :class=>"btn btn-light" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <hr>
        <div id="noResult">
          <h4>Не найдено ни одной позици по Вашему запросу</h4>
        </div>
      <hr>
    <% end %>
  </div>
</div>