<%= form_for [:admin, product], html: { multipart: true } do |form| %>
  <%= render 'common/errors', resource: product %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <p>
  <%= form.label :category %>
  <%= form.collection_select :category  , Product.categories.map{ |a| [a.first, a.first]}, :first, :second %>
  </p>

  <p class="field">
    <%= form.file_field :image %>
  </p>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description,
                  :rows => 15,
                  :cols => 50 ,
                  :maxlength => 240,
                  :autocomplete => :off %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
