<div id="header_img">
  <%= image_tag("img/design66.jpg") %>
</div>
<div>
  <div class="p" align="center">
    <h4>Торт «Чізкейк чорничний»</h4>
  </div>
  <div class="p">
    <p>
      <%= @product.description %>
    </p>
  </div>
  <div align="center">
    <%= image_tag @product.image.url(:large) if @product.image? %>
  </div>


</div>
<div class="button2" align="right">
  <%= link_to 'Edit', edit_product_path(@product) %>
</div>
<div class="button2">
<%= link_to 'Back', products_path %>
</div>
