<!DOCTYPE html>
<html>
  <head>
    <title>Master</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

  <div class="head_conteiner">
      <table class="head_table">
      <tbody>
      <tr>
        <td><%= link_to "Главная", root_path %></td>
        <td><%= link_to "Меню", products_path %></td>
        <td><%= link_to "Про нас", welcome_about_company_path %></td>
        <td><%= link_to "Партнерство", welcome_partners_path %></td>
        <td><%= link_to "Наши мастер классы", welcome_mk_path %></td>

        <td class="e-mail">
          <% if current_user %>
            <%= link_to "Выйти", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Войти", new_user_session_path %>
          <% end %>
        </td>

        <td class="e-mail"><%= link_to "E-mail: #{ current_user.email if current_user }" %></td>
        </tr>
      </tbody>
      </table>
  </div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <%= yield %>

    <footer>
    <table class="footer_table">
    <tbody>
    <tr>
      <td>
        <span class="footer_head">ПЕКАРНЯ</span>
        <p class="footer_p"></p>Пекарня-кондитерська «Mary» гостинно запрошує скуштувати неймовірно смачну випічку та десерти.</p>
      </td>
      <td>
          <%= image_tag("img/master.jpg") %>
      </td>
      <td>
        <span class="footer_head">КОНТАКТНА ІНФОРМАЦІЯ</span>
        <p class="footer_p">
        бульвар Лесі Українки 26, Київ, Україна
        +38 073 123 26 26
        <p></p>
        <span align="center" class="footer_head">master2009sales@gmail.com</span>
        </p>
      </td>
      </tr>
      </tbody>
      </table>
    </footer>
  </body>
</html>
